.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.div-courses {
    width: 230px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(120deg, #b94502, #ee8f1c);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 3px 11px rgba(0, 0, 0, 0.397);
    color: white;
    border: 1px solid white;
}

.div-courses h4 {
    margin-top: 3px;
    text-align: center;
    font-size: .9em;
}

.div-courses button {
    background-color: rgba(233, 142, 22, 0);
    border: 1px solid rgba(255, 255, 255, 0.705);
    cursor: pointer;
    color: white;
    border-radius: 6px;
    margin-top: 6px;
    padding: 5px 20px;
    transition: 0.4s ease;
    
}

.div-courses button:hover {
    background: #ee8f1c;
    box-shadow: 0 0 10px 0 rgb(255, 145, 0);
    transform: translateY(-2px);
}

.h1-courses {
   text-align: center;
   background: linear-gradient(120deg, #b94502, #ee8f1c);
   background-clip: text;
   color: transparent;
}

