header {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #131e36;
    align-items: center;
    height: 100px;
    
}


.curemat {
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
}

.curemat:hover{
    background: #ee8f1c;
    box-shadow: 0 0 10px 0 rgb(255, 145, 0);
    transform: translateY(-2px);

}
.logout {
    height: 20px;
}